html {
    max-width: 1136px;
    max-height: 642.933px;
    background-color:white;
}

body {
    image-rendering: -moz-crisp-edges;
    margin: 0;
    background: black;
    max-width: 1262.8px;
    max-height: 642.933px;
}

#img1 {
    width: 1262.8px;
    height: 642.933px;
}

#entrance {
    width: 72px;
    height: 72px;
    position: absolute;
    transform: translateY(-90px) translateX(595px) rotateX(70deg);
}


#home {
    
    width: 72px;
    height: 72px;
    position: absolute;
    transform: translateY(-90px) rotateY(56deg);
}

#gallery {
    display: none;
    position: absolute;
    transform: translateX(300px) translateY(-600px);
}

#ImgUpld {
  position: inherit;
}

#myFile {
  margin-left: 89%;
}

#submit{
  margin-left: 86%;
  margin-top: 5%;
}

#farm 
{
    width: 100%;
    height:100%;
}

#images{
  height: fit-content;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
    display: block;
    transform: translateX(-155px);
    width: 622px;
    height: 299px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 3px 0px 0px 3px;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0px 3px 3px 0px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    width: 622.683px;
    height: 50.8px;
}

/*.row:after {
  content: "";
  display: table;
  clear: both;
}
    *\
/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0;
}

