html {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #e6b0af;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.IdJemNnwwoGywfV-imtHIAHaEo%26pid%3DApi&f=1');
}

body{

    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    text-align:center;

}

@keyframes introanim {
    0% {
        transform: translateY(-100%);
    }
    
    60%{
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0);
    }
}





.int  {
    background-color: antiquewhite;
    animation: 3s ease-out 0s 1 introanim;
    border: solid;
    display: inline-block;
    
    

}

.int img{
    
    width:378px;
    height:504px; 
    padding-bottom:20px;

}


