body{
    
    image-rendering:-moz-crisp-edges; 
    margin: 0;
   
}

#main-head {
    background-color: lightsteelblue;
}

.container {
    width: 100%;
    overflow: hidden;
}


#main-head {
    background-color: dimgray;
    color: black;
    padding: 10px;
}


/* Navagation */
#Navbar {
    width: 100%;
    background-color: lightslategrey;
    color:black;
}

#Navbar a {
    float: left;
    
    display: block;
    color: black;
    text-align: center;
    padding: 20px;
    
    text-decoration: none;
    

}

#Navbar a#Dark{
    float:right;
}

#Navbar a:hover {
    color: black;
    background-color: white;
}



.Text{
    
    width: 600px;
    text-align: left;
    white-space: nowrap;
    padding-left: 0;
    
}
.Text ul{
    padding: 0px;
    
}

.Text li{
    
    padding: 0;
    
}

.Text a{
    
    text-decoration: none;
    color: black;
    padding: 30px;
    margin: 0;
    
}

.Text a:hover {
 
    background-color: lightslategray;
}


.flex-container a {
    padding-top: 20px;
    font-size: 18px;
    
}

.Home li:hover {
    background-color: lightslategrey;
    background-size: 80px;
}


.Home img:hover {
    
    background-color: lightslategrey;
    background-size: 80px;
   
}





.House a{
    display:inline-block;
}



.House {
    width: 90px;
    height: 90px;
    display:inline;
    vertical-align: bottom;
     
}


.Home img:hover {
    
    background-color: lightslategrey;
    background-size: 80px;

    
}


.container{
    
    width: 100%;
    overflow: hidden;
    
}




.Lucas{
    margin-left: 20px;
    width:200px;
    height:200px;
}

.imate p{ 

    text-align:center;

}

.People a{
    margin:45px;
    text-decoration: underline;
    color: black;
}

.People {
    list-style:none;
}

.People li{
    
    list-style: none;
    text-decoration: none;
}

#sections {
    
    float: left;
    width: 150px;
    padding: 0px;
    margin-left: 100px;
    position: relative;
}

.anim {
    position: absolute;
    transform: translate(400px, 9px);
    animation: anim1 1s steps(10) infinite;
}
